/* App Settings */

* {
  box-sizing: border-box;
}

body {
  background-color: #137547;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 300;
}

/* Containers */

.home-budget-app {
  width: 100%;
  max-width: 900px;
  margin: 100px auto;
  border-radius: 5%;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(3, 3, 3, 1);
}

.home-budget-app-container {
  width: 80%;
  margin: 0 auto;
}

/* Logo and info about budget */

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 50px;
}

.budget-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Income and expenses section  */

.income,
.expenses {
  width: 330px;
  margin-bottom: 50px;
  border-radius: 5%;
  box-shadow: 0px 0px 10px 0px rgba(3, 3, 3, 1);
  position: relative;
}

/* Input elements  */

.settings {
  padding: 15px;
  justify-content: space-around;
}

.settings-header {
  font-weight: 500;
  font-size: 25px;
}

.input-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.input {
  margin-bottom: 10px;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 300;
  height: 30px;
  border: 1px solid black;
  border-radius: 5%;
}

.settings-btn,
.save-btn {
  box-sizing: border-box;
  width: 200px;
  padding: 10px;
  align-self: center;
  color: white;
  background-color: #137547;
  border-radius: 5%;
  box-shadow: 0px 0px 2px 0px rgba(3, 3, 3, 1);
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 300;
}

/* Income and expenses lists */

.list-container {
  height: fit-content;
}

.list {
  margin-bottom: 50px;
  padding: 15px;
}

.list-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 5px;
  font-size: 16px;
}

.options-btn {
  box-sizing: border-box;
  padding: 8px 15px;
  color: white;
  background-color: #137547;
  border-radius: 15%;
  font-family: "Raleway";
  font-size: 12px;
  font-weight: 300;
  margin-left: 5px;
}

/* Income and expenses sum */

.sum {
  padding: 15px;
  position: absolute;
  bottom: 0;
}

/* Media Queries */

@media screen and (min-width: 830px) {
  .budget-container {
    display: flex;
    justify-content: space-between;
  }
} ;
